*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100dvh;
    width: 100%;
}

.container {
    display: flex;
}

.cursor {
    display: inline-block;
    width: 1px;
    opacity: 1;
    transition: cursorBlink transform 0.5s ease;
}

.appear-animation {
    animation: Appear 0.1s ease-in-out;
}

@keyframes cursorBlink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes Appear {
    from { opacity: 0; }
    to { opacity: 1; }
}