@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.type--B{
    --line_color : #1b1919 ;
    --back_color : #E9ECFF
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body {
    background-color: #F9F8F7;
}

main {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agence {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
}

.agence-name {
    text-align: center;
    font-weight: 200;
    font-size: 42px;
}

.agence-title {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.container {
    height: fit-content;
    display: flex;
    align-items: center;
    color: #495057;
    font-size: 30px;
}

.container-we {
    font-weight: 200;
    text-align: center;
    margin-right: 10px;
}

.container-texte {
    font-weight: 200;
    text-align: center;
}

.cursor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 54px;
    border-top: 2px solid #ADB5BD;
    border-bottom: 2px solid #ADB5BD;
    color: #ADB5BD;
    padding-inline: 10px;
    opacity: 1;
    font-size: 60px;
    font-weight: 200;
}

.contact-container {
    bottom: 10%;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.contact {
    background: none;
    border: none;
    cursor: pointer;
    color: #ADB5BD;
    font-size: 16px;
    transition: all 0.5s ease;
    border-bottom: 1px solid #adb5bd00;
}

.contact:hover {
    color: #495057;
    border-bottom: 1px solid #495057;
}   

.animation-blink {
    animation: cursorBlink 0.7s infinite;
}

.appear-animation {
    animation: Appear 0.1s ease-in-out;
}

@keyframes cursorBlink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes Appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* responsive largeur */
@media screen and (max-width: 768px){
    main {
        padding-inline: 10px;
    }

    .agence {
        top: 5%;
    }

    .agence-name {
        font-size: 32px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .container-we {
        margin-right: 0px;
        margin-left: 10px;
    }

    .cursor  {
        display: none;
    }
}

/* responsive hauteur */
@media screen and (max-height: 450px){
    main {
        padding-inline: 10px;
    }

    .agence {
        top: 5%;
        display: flex;
    }

    .agence-name {
        font-size: 32px;
    }

    .agence-title {
        font-size: 15px;
    }

    .container {
        flex-direction: row;
        align-items: center;
        font-size: 18px;
    }

    .container-we {
        margin-right: 10px;
        margin-left: 10px;
    }

    .cursor  {
        display: flex;
        height: 34px;
        font-size: 38px;
        padding-inline: 6px;
    }
}